<pre>{{ stackData | json }}</pre>

<button class="button" (click)="pushElement()">Push</button> <input type="number" [(ngModel)]="element">
<button class="button button2" (click)="popElement()">Pop</button>